    .frame {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        margin-top: -200px;
        margin-left: -200px;
        border-radius: 5px;
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background: #E56262;
        color: #fff;
        font-family: 'Open Sans', Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .dot1 {
        position: absolute;
        top: 37%;
        left: 37%;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
        transform: scale(0);
        animation: dot1-animation 2s infinite alternate;
    }

    .dot2 {
        position: absolute;
        top: 42%;
        left: 42%;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
        transform: scale(0);
        animation: dot2-animation 2s infinite alternate;
    }

    .dot3 {
        position: absolute;
        top: 46%;
        left: 46%;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
        transform: scale(0);
        animation: dot3-animation 2s infinite alternate;
    }

    @keyframes dot1-animation {

        0%,
        10% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes dot2-animation {

        0%,
        40% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes dot3-animation {

        0%,
        70% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }